.lgNav {
  font-size: .24rem;
  border-bottom: 5px solid #f8f8f8;
  overflow: hidden;
}
.lgNav ul {
  width: 1000%;
}
.lgNav ul li {
  height: 0.8rem;
  text-align: center;
  float: left;
  width: 2rem;
}
.lgNav ul li a {
  display: inline-block;
  line-height: .75rem;
  color: black;
}
.lgNav ul li a.current {
  border-bottom: 2px solid #d90000;
  color: #d90000;
}
#product .info_1 {
  height: 3rem;
}
#product .top {
  overflow: hidden;
  /* 规定段落中的文本不换行 */
  white-space: nowrap;
  /* 溢出的文本以省略号显示 */
  text-overflow: ellipsis;
}
#product .bot {
  bottom: .3rem;
  width: 90%;
}
#product .bot a:first-child {
  border: 1px dashed #ff5e5d;
  padding: .1rem;
  float: left;
  color: #ff5e5d;
}
#product .bot a:last-child {
  padding: .1rem;
  background-color: #ff5e5d;
  color: #fff;
  float: right;
}
#product .center {
  font-size: .3rem;
  padding: .1rem 0;
}
#product .bar {
  font-size: .14rem;
}
#product .bar i {
  width: 1rem;
  display: inline-block;
  border: 1px solid #ff5e5d;
  border-radius: .2rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  float: left;
}
#product .bar i em {
  position: absolute;
  left: 0;
  height: 100%;
  background-color: red;
}
#product .bar b {
  color: #ff5e5d;
  float: left;
}
