.mmm-product .title {
  text-align: center;
  font-size: .24rem;
  height: 0.7rem;
  line-height: .7rem;
}
.mmm-product .center {
  font-size: .24rem;
  padding-top: .1rem;
}
.mmm-product #product .link .bot span {
  color: red;
  font-size: .24rem;
}
#myModal .modal-content {
  opacity: 1;
  background-color: transparent;
  margin: 3rem auto 0;
}
#myModal .modal-content .modal-body {
  padding: 0;
}
#myModal .modal-content .modal-body img {
  width: 4rem;
  height: 3rem;
  margin: 1rem auto;
}
#myModal .modal-content .modal-body .carousel-inner {
  padding: 0 .7rem;
}
#myModal .modal-content .modal-body .carousel-control {
  background-color: transparent;
  background-image: none;
  font-size: .2rem;
  width: 0.7rem;
}
