.mmm-header .icon_back {
  width: 1rem;
  background: url('../images/icon_bar.png') -2.06rem -0.2rem no-repeat;
  background-size: 4.4rem 2.64rem;
  background-clip: content-box;
  background-origin: content-box;
}
.mmm-header h3 {
  overflow: hidden;
  height: 100%;
  line-height: .98rem;
  font-size: .4rem;
  text-align: center;
  color: #fff;
}
