@import 'normalize';

@import 'html';

.mmm-container {
  width: 100%;
  max-width: 750px;
  min-width: 320px;
  background-color: pink;
  margin: 0 auto;
  height: 2000px;

  .mmm-header {
    width: 100%;
    height: .98rem;
    background-color: #ff841d;
  }
}