

.mmm-product {
  .title {
    text-align: center;
    font-size: .24rem;
    height: 0.7rem;
    line-height: .7rem;
  }
  .center {
    font-size: .24rem;
    padding-top: .1rem;
  }
  #product .link .bot span {
    color: red;
    font-size: .24rem;
  }
}


#myModal {
  .modal-content {
    margin-top: 4rem;
  }
}